{
    "printWidth": 100,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "semi": false,
    "overrides": [
        {
            "files": "*.{json,yml}",
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        }
    ]
}
